---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_w8Q3gOlA1OJH99A6Ltz1hijL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-02-14'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_AEmDkHP0A0SyIs",
              "object": "customer",
              "account_balance": 0,
              "created": 1488794504,
              "currency": null,
              "default_source": "card_19uIeb2fM1xslBXYniNGj3ev",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "george@malarky.com",
              "livemode": false,
              "metadata": {},
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_19uIeb2fM1xslBXYniNGj3ev",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_AEmDkHP0A0SyIs",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 11,
                    "exp_year": 2019,
                    "fingerprint": "qXdEaayW1ONha6Rl",
                    "funding": "credit",
                    "last4": "4242",
                    "metadata": {},
                    "name": "george@malarky.com",
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_AEmDkHP0A0SyIs/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_AEmDkHP0A0SyIs/subscriptions"
              }
            },
            {
              "id": "cus_AEm9rYvOBmmE1E",
              "object": "customer",
              "account_balance": 0,
              "created": 1488794263,
              "currency": null,
              "default_source": "card_19uIZB2fM1xslBXYm6y692Ia",
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=george%40new_new_guy.com&source=tok_19uIdj2fM1xslBXYjJEiCVpu
    headers:
      Authorization:
      - Bearer sk_test_w8Q3gOlA1OJH99A6Ltz1hijL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-02-14'
    body:
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=500&description=test_product%3A+this+is+a+test+product&currency=usd&customer=cus_AEmDWSoycmlhV1
    headers:
      Authorization:
      - Bearer sk_test_w8Q3gOlA1OJH99A6Ltz1hijL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-02-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_19uIf42fM1xslBXYJmdGOlQ0",
          "object": "charge",
          "amount": 500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_19uIf42fM1xslBXYhtAVR8SE",
          "captured": true,
          "created": 1488794510,
          "currency": "usd",
          "customer": "cus_AEmDWSoycmlhV1",
          "description": "test_product: this is a test product",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_19uIf42fM1xslBXYJmdGOlQ0/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_19uIdj2fM1xslBXY4JdegkoL",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_AEmDWSoycmlhV1",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2019,
            "fingerprint": "qXdEaayW1ONha6Rl",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "george@new_new_guy.com",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Mon, 06 Mar 2017 10:01:50 GMT
recorded_with: VCR 3.0.3
